body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.div2
{
    border: 2px solid black;
    text-align: center;
    width: 30rem;
    font-family: Helvetica, sans-serif;
    font-size: 20px; 
    background-color: hsla(249, 6%, 23%, 0.432);
    color: white;
    border-radius: 20px;
}

.div2:hover
{
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 5rem;
}

p
{
    padding: 2rem;
}

